project-code/logs
project-code/project/project
project-code/project/target
project-code/target
project-code/tmp
project-code/.idea
samples/play2-neo4j-sample/logs
samples/play2-neo4j-sample/project/project
samples/play2-neo4j-sample/project/target
samples/play2-neo4j-sample/target
samples/play2-neo4j-sample/neo4j
samples/play2-neo4j-sample/.idea
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
