module/logs
module/project/project
module/project/target
module/target
module/tmp
module/.idea
module/.idea_modules/
samples/neo4j-scala/.idea_modules/
samples/neo4j-scala/logs
samples/neo4j-scala/project/project
samples/neo4j-scala/project/target
samples/neo4j-scala/target
samples/neo4j-scala/neo4j
samples/neo4j-scala/.idea
samples/neo4j-scala/data/
samples/neo4j-scala/neo_store_IS_UNDEFINED/
samples/neo4j-scala/public/front/node_modules
samples/neo4j-scala/public/front/bower_components
samples/neo4j-scala/public/front/dist
samples/neo4j-scala/public/front/app/css
samples/neo4j-scala/public/front/app/js/main.js
samples/neo4j-scala/public/front/app/lib
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
