<form class="form-horizontal"  novalidate ng-submit="onSubmit()">

    <div class="alert alert-danger" ng-show="errors.length > 0">
        <ul>
            <li ng-repeat="error in errors track by $index">
                <strong>{{error.field.title}}</strong> {{error.message}}
            </li>
        </ul>
    </div>

    <lg-jsonschema-field  ng-repeat="field in fields">

    </lg-jsonschema-field>

    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Submit</button>

</form>

